<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
}


.container {
    background-color: yellow;
    width: 100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .app-wrapper {
    background-color: blue;
    min-width: 450px;
    min-height: 650px;
    padding: 45px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 3px 6px 40px black;
    margin-bottom: 10px;
  }

  
 .header h1{
    color: white;
    text-align: center;
    margin: 30px 0;
    padding: 20px;
 }
 .task-input{
    outline:none;
    width:260px;
    padding: 15px;
    margin-right: 25px;
    font-size: 20px;
    color: white;
    background-color: black;
    border: 1px solid #c89666;
    border-radius: 10px;
 }

 .button-add{
    width: 70px;
    padding: 15px 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    background-color: #f1af71;
    cursor: pointer;
 }
 .list-item{
    display: flex;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    max-height: 30px;
 }
 .button-complete,
 .button-delete,
 .button-edit{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 28px;
    border-radius: 50%;
 }
 .button-edit{
    color: #e2d029;
    margin-right: 10px;
 }
 .button-complete{
    color:#ff6c6c;
    margin-right: 10px;
 }
 .button-delete{
    color: lightseagreen;
 }
 .complete{
    text-decoration-style:solid;
    text-decoration-line: line-through;
    text-decoration-color: #ff6c6c;
    opacity: 0.6;
 }
 .list{
    width: 220px;
    background-color: #a9e61d;
    border: none;
    color: black;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 15px;
    border-radius: 5px;
 }
 input:focus,
 button:focus{
    outline:none;
 }

.todo-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.task-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-buttons {
    display: flex;
}

.task-button {
    margin-left: 10px;
}
=======
*{
    margin: 0;
    padding: 0;
}


.container {
    background-color: yellow;
    width: 100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .app-wrapper {
    background-color: blue;
    min-width: 450px;
    min-height: 650px;
    padding: 45px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 3px 6px 40px black;
    margin-bottom: 10px;
  }

  
 .header h1{
    color: white;
    text-align: center;
    margin: 30px 0;
    padding: 20px;
 }
 .task-input{
    outline:none;
    width:260px;
    padding: 15px;
    margin-right: 25px;
    font-size: 20px;
    color: white;
    background-color: black;
    border: 1px solid #c89666;
    border-radius: 10px;
 }

 .button-add{
    width: 70px;
    padding: 15px 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    background-color: #f1af71;
    cursor: pointer;
 }
 .list-item{
    display: flex;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    max-height: 30px;
 }
 .button-complete,
 .button-delete,
 .button-edit{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 28px;
    border-radius: 50%;
 }
 .button-edit{
    color: #e2d029;
    margin-right: 10px;
 }
 .button-complete{
    color:#ff6c6c;
    margin-right: 10px;
 }
 .button-delete{
    color: lightseagreen;
 }
 .complete{
    text-decoration-style:solid;
    text-decoration-line: line-through;
    text-decoration-color: #ff6c6c;
    opacity: 0.6;
 }
 .list{
    width: 220px;
    background-color: #a9e61d;
    border: none;
    color: black;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 15px;
    border-radius: 5px;
 }
 input:focus,
 button:focus{
    outline:none;
 }

.todo-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.task-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-buttons {
    display: flex;
}

.task-button {
    margin-left: 10px;
}
>>>>>>> origin/main
